{% extends 'base.html.twig' %}
{% block body %}
  <div class="row">
    <div class="col col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="card card-primary">
        <div class="card-header">
          Purchase Failure!
        </div>
        <div class="card-body">
          Unable to complete your purchase because we could not contact the client
          server. Fear not! Your purchase will be completed once we're able to
          contact their server.
        </div>
      </div>
    </div>
  </div>
{% endblock %}

