{% extends 'base.html.twig' %}
{% block body %}
  <div class="row">
    <div class="col col-md-8 offset-md-2 col-sm-12 col-12">
      <div class="card card-primary">
        <div class="card-header">
          Client Failure
        </div>
        <div class="card-body">
          We were unable to notify nsfwdiscord.me about your <b>successful</b> purchase.
          Their server may be experiencing problems.
          Fear not! Your purchase is complete and we try to notify nsfwdiscord.me again
          in a minute.
        </div>
      </div>
    </div>
  </div>
{% endblock %}

